// Default HTML font size used for rem unit calculations
$remBase: 16px;

// Functions
@function pxtorem($size) {
	$remSize: $size / $remBase;

	@return #{$remSize}rem;
}

// Variables
$spacing: pxtorem(15px);
$bp-small: pxtorem(576px);
$bp-medium: pxtorem(768px);
$bp-large: pxtorem(992px);
$bp-xlarge: pxtorem(1200px);

// Mixins
@mixin breakpoint($bp) {
	@if $bp == small {
		@media (max-width: $bp-small) { @content; }
	}

	@else if $bp == medium {
		@media (min-width: $bp-medium) { @content; }
	}

	@else if $bp == large {
		@media (min-width: $bp-large) { @content; }
	}

	@else if $bp == xlarge {
		@media (min-width: $bp-xlarge) { @content; }
	}

	@else {
		// @warn "Breakpoint mixin supports: small, medium, large, xlarge";
		@media (min-width: $bp) { @content; }
	}
}